/* src/pages/Home.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #a777e3); /* 부드러운 색상 그라데이션 배경 */
    color: #fff;
  }
  
  .form-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .submit-button, .signup-button {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button {
    background-color: #4caf50;
    color: #fff;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .signup-button {
    background-color: #2196f3;
    color: #fff;
  }
  
  .signup-button:hover {
    background-color: #0b7dda;
  }
  