/* src/pages/Map.css */
.map-container {
    display: flex;
  }
  
  .sidebar {
    position: fixed;
    left: -250px; /* 사이드바를 화면 밖으로 숨깁니다. */
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 1000;
    padding: 1rem;
    cursor: pointer;
  }
  
  .sidebar.open {
    left: 0; /* 사이드바를 화면 안으로 이동시킵니다. */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    cursor: default;
  }
  
  .sidebar li {
    margin: 1rem 0;
  }
  
  .main-content {
    margin-left: 2rem; /* 사이드바 공간을 확보합니다. */
    padding: 2rem;
    flex: 1;
    transition: margin-left 0.3s ease;
  }
  
  .main-content h1 {
    margin-top: 0;
  }
  